<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>real-time-biryaniApp</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link href="toastr.css" rel="stylesheet"/> -->
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <link rel="stylesheet" href="/css/app.css">
    <!-- <script src="toastr.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100&family=Montserrat:wght@100;300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap" rel="stylesheet">
</head>
<body>
 
    <!-- navbar -->
    <nav class="container mx-auto flex items-center justify-between py-4">
        <div>
           <a href="/"> <img src="/img/logo.png" class='rounded-full logo'alt="logo"> 
        </div>
        <div >
            <ul class="flex">
                <li class='ml-4'><a href="/">Menu</a></li>
                <%if(user){%>
                    <li class='ml-4'>
                        <form id='logout' action="/logout" method="post">

                            <a onclick="document.getElementById('logout').submit()" href="#">logout</a>
                        </form>
                    </li>
                <% } else {%>    
                <li class='ml-4'><a href="/register">Register</a></li>
                <li class='ml-4'><a href="/login">Login</a></li>
                <%}%>
                <li class='ml-4 ' ><a href="/cart" class='inline-block px-4 py-2 rounded-full flex items-center'>
                    <span id='cartCounter'class=" font-bold text-white pr-2">
                        <%=session.cart?session.cart.totalQty:''%>
                    </span>
                    <img src="/img/cart.png" alt="cart" style="
                    text-decoration: none;"></a>
                </li>
            </ul>
        </div>
    </nav>
    <%-body%>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>